
/* Por defecto ocultaremos todo aquello que lleve estas clases */
.display-great {

	display: none;
}

.display-medium {

	display: none;
}

.display-mini{

	display: none;
}

/* Para que se muestren los labels al lado de los inputs */
label {

	  padding: 12px 12px 12px 0;
	  display: inline-block;
	  float: left;
	  width: 25%;
	  margin-top: 6px;
}