
/* Activamos esta clase para que todo aquello que lo lleve se pueda mostrar */
.display-great {
	display: inherit !important;
}


label{

    display: inline-block;
    float: left;
    clear: left;
    width: 180px;
    text-align: left;
  }
