
/* Activamos esta clase para que todo aquello que lo lleve se pueda mostrar */
.display-medium {
	display: inherit !important;
}


/* Para que se muestren los labels al lado de los inputs */
label {

	  padding: 12px 12px 12px 0;
	  display: inline-block;
	  float: left;
	  width: 25%;
	  margin-top: 6px;
}


/*body{
	background-color: white;
} */