
/* Activamos esta clase para que todo aquello que lo lleve se pueda mostrar */
.display-medium {
	display: inherit !important;
}
/* FORMULARIOS */
.boxesAlbum, .bigBoxes, .numCopias, .valorRango, label {

	width: 50%;
}

/* Para que se muestren los labels al lado de los inputs */
label {

	  padding: 12px 12px 12px 0;
	  display: inline-block;
	  width: 100%;
}

.marcoInicioRegistro {

	width:30%;
}

#marcoSolicitudAlbum {

	width:75%;
}

#SolicitudAlbum{

	padding: 0 10% 10% 22%;  /* arriba, derecha, abajo, izqd */
}



/* USUARIO REGISTRADO */

#FotoPerfil{

	width:50%;
    font-size: 15px;
  }


#FotoPerfil>img{

     width: 80%;
    height: auto;
    display: block;
    margin-left: 50%;
    margin-right: auto;
}

#NombreUsuario{

     text-align: center;
     margin-left: 70%;
     font-size: 20px;
  }

.marcoUsuario {

	width: 85%;
	margin-left: auto;
	margin-right:auto;
	display: block;
}

 .enlacesUsuario{

	   padding: 8px 7px;
  
  }


#cierreSesion{

   border-radius: 4px;
   padding: 8px 24px;
   margin-left: 35%;
  }


 

/*body{
	background-color: cyan;
} */