
/* Activamos esta clase para que todo aquello que lo lleve se pueda mostrar */
.display-medium {
	display: inherit !important;
}
/* FORMULARIOS */
.boxesAlbum, .bigBoxes, .numCopias, .valorRango, label {

	width: 50%;
}

/* Para que se muestren los labels al lado de los inputs */
label {

	  padding: 12px 12px 12px 0;
	  display: inline-block;
	  float: left;
	  width: 25%;
	  margin-top: 6px;
}

/* USUARIO REGISTRADO */
#FotoPerfil>img{

    display: block;
    margin-left: 100%;
    margin-right: 100%;
    width: 50%;

}

.marcoUsuario {

	width: 85%;
	margin-left: auto,
	margin-right:auto;
	display: block;
}

 #Modificar-Borrar {

 	width:40%;
 }


 

body{
	background-color: cyan;
} 