
/* Activamos esta clase para que todo aquello que lo lleve se pueda mostrar */
.display-mini {
	display: inherit !important;
}
/* FORMULARIOS */
/* Para que las cajas y demas de los Formularios se muestren uno encima de otro y no a los lados */
.boxesAlbum, .bigBoxes, .direccion, .numCopias, .valorRango, #solicitarAlbum, .boxesForm, .enlaceBoton {

	width: 100%;
    margin-top: 0;
}
.diaMes {

	margin-top: 0;
	width: 28.5%;
}

.marcoInicioRegistro{

	width: 80%;
}


#headerItems>a>div:first-of-type{
	border-right: none;
}
