

/* Version para la impresión de la pagina web */


header{
  display: none;
}

body {
  background-image: none;
  font-style: serif;
  font-size: 12pt;
}


/* Muestra la url de todos los enlaces que hayan en la pagina. After --> para añadir contenido estético a un elemento */
a:after {
	content:" <" attr(href) ">";
}


/* Evitar Saltos de pagina */
ul, img  {

	page-break-inside: avoid;
}