

/* Version para la impresión de la pagina web */


header{
  display: none;
}

body {
  background-image: none;
  font-style: serif;
  font-size: 12pt;
  background-color: white;
}


 
.preview { 
	width: auto; 
	border: 0; 
	margin: 0 5%; 
	padding: 0; 
	float: none !important; 
}


/* Muestra la url de todos los enlaces que hayan en la pagina. After --> para añadir contenido estético a un elemento */
a:link:after, a:visited:after {
	content:" <" attr(href) ">";
	font-size: 90%;
}

a:link, a:visited { 

	color: #520; 
	background: transparent; 
	font-weight: bold; 
	text-decoration: underline; 
}

/* Evitar Saltos de pagina */
.prov {

	page-break-inside: avoid;
}