:root {
  --1: #cfcfd1;
  --2: #7d7d80;
  --3: #38383d;
  --8: orange;
  --5: yellow;
  --6: #000000;
  --7: #ffffff;
  --4: #fafafa;
}

/* BODY */
body {
  color: var(--7);
  background-color: var(--6);
  border-left: solid var(--6); 
  border-right: solid var(--6);
  border-bottom: solid var(--6);
}

/* HEADER */
body>header{
  color: var(--7);
  background-color: var(--6);
}
.headerItems>a{
  color: var(--7);
}
.headerItems>a>div:first-of-type{
  border-right: 1px solid var(--1);
  background-size: 20px 20px;
  background-position: center;
  background-image: url(../recursos/pretilgW.png);
  background-repeat: no-repeat;
}
.headerItems>a>div:first-of-type>img{
  visibility: hidden;
}
#burger{
  background-image: url(../recursos/burgerW.png);
}
.headerItems>div:last-of-type>a:first-of-type{
  color: var(--5);
  border-bottom: solid var(--5);
  border-top: solid var(--6);
}
.headerItems>div:last-of-type>a:last-of-type{
  color: var(--5);
  border-bottom: solid var(--5);
  border-top: solid var(--6);
  background-color: var(--6)
}
.headerItems>div:last-of-type>a:first-of-type:hover{
  color: var(--6);
  background-color: var(--5);
  border-top: solid var(--5);
}
.headerItems>div:last-of-type>a:last-of-type:hover{
  color: var(--6);
  background-color: var(--5);
  border-top: solid var(--5);
}

/* BARRA DE NAVEGACIÓN */
nav{
  background-color: var(--6);
  border-top: solid 1px var(--7);
}
nav>ul>li{
  border-left: none;
}
.firstlast{
  border-left: none;
}
nav>ul>li>a {
  color: var(--5);
  border-bottom: solid 1px var(--5);
}
nav>ul>li>a:hover {
  background-color: var(--5);
  color: var(--6);
}

#brbar{
  border-bottom: solid 2px var(--7);
  background-color: var(--6);
  color: var(--7);
}
#brbutton{
  border: solid 2px var(--7);
  background-color: var(--6);
}
#brbutton:hover{
  background-color: var(--5);
}

/* FOTOS EN PREVIEW */
.top-right {
  background-color: rgba(0, 0, 0, 0.6);;
  border-left: solid 1px var(--5);
}
.imgResume>p:first-of-type{
  border-bottom: solid 1px var(--5);
}
.preview>article{
  border: solid 2px var(--5);
}
.preview>article:hover{
  background-color: var(--5);
  border: solid 2px var(--5);
}
.preview>article>a>figure{
  background-color: var(--6);
  color: var(--7);
}
.preview>article>a>figure:hover{
  background-color: var(--5);
}
#detalle>article>figure>img{
  border: solid 1px var(--6);
}

/* FOOTER */
body>footer{
  background-color: var(--6);
  color: var(--7);
}
body>footer>p{
  margin: 0;
}
body>footer>p>a{
  color: var(--5);
}
body>footer>p>a:hover{
  background-color: var(--5);
  color: var(--6);
}

/* FORMULARIOS */

.swaplink{
  color: var(--5);
  text-decoration: none;
}

/* ALEX */
/* Contenido formularios */
.boxesForm{
  border-bottom: 2px solid var(--7);
  background-color: var(--6);
  color: var(--7);
  font-size: 16px;
}
.enlaceBoton{
  background-color: var(--6);
  color: var(--5);
  border: 2px solid var(--5);
}
.enlaceBoton:hover {
  background-color: var(--5);
  color: var(--6);
  border: 2px solid var(--5);
}

/*Fecha Nacimiento */
.mes{
  border-bottom: 2px solid var(--2);
  background-color: var(--6);
  color: var(--7);
 }
.diaMes{
  border-bottom: 2px solid var(--2);
  background-color: var(--6);
  color: var(--7);
}

/* Tabla Info precios */
table, caption{
  /*border: 1px solid var(--7);*/
}
th, table>caption{
    background-color: var(--2);
    border: 1px solid var(--7);
}
td{
    background-color: var(--6);
    border: 1px solid var(--7);
}

/* DETALLE FOTO */
#detalle>article>figure>figcaption>div>p>a:hover{
  color: var(--6);
  background-color: var(--5);
}

/* FORMULARIOS */

.marcoInicioRegistro{
    border-color: grey;
    background-color: black;
    box-shadow: 2px 2px 5px #999;
  }


#marcoSolicitudAlbum{
  border-color: grey;
  background-color: black;
  box-shadow: 2px 2px 5px #999;
}


.boxesAlbum, .bigBoxes, .direccion, .numCopias{   /* Boxes formulario */

      background-color: black;
      color: white;
   }

 /* Boton Enviar Formulario */
#solicitarAlbum{

  background-color: var(--6);
  color: var(--5);
  border: 2px solid var(--5);

}

#solicitarAlbum:hover {
  background-color: var(--5);
  color: var(--6);
  border: 2px solid var(--5);
}



/* USUARIO REGISTRADO */

#FotoPerfil>img{

    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

 .marcoUsuario{
    border-color: grey;
    background-color: var(--6);
    box-shadow: 2px 2px 5px #999;
  }

.enlacesUsuario, #cierreSesion{

  background-color: var(--6);
  color: var(--5);
  border: 2px solid var(--5);

}

.enlacesUsuario:hover, #cierreSesion:hover {

  background-color: var(--5);
  color: var(--6);
  border: 2px solid var(--5);
 
}


/* BUSQUEDA AVANZADA */

.marcoBusqueda{
    border-color: grey;
    background-color: var(--6);
    box-shadow: 2px 2px 5px #999;
}

#buscarFotos{
  background-color: var(--6);
  color: var(--5);
  border: 2px solid var(--5);
}
#buscarFotos:hover {
  background-color: var(--5);
  color: black;
  border: 2px solid var(--5);
}


/* TABLA TARIFAS */
th, table>caption{
  background-color: var(--6);
}