*{
  box-sizing: border-box;
}

body {
  width: 100%;
  font-size: 14px;
  color: #434343;
  background-color: #E4BA16;
  /*min-width: 320px;
  max-width: 960px;*/
  margin: 0 auto ; 
  border-left: solid #fff; 
  border-right: solid #fff;
  border-bottom: solid #fff; 
  padding: 0; /*.5em .5em .5em;*/
}

/* HEADER */

  body>header{
    display: flex;
    flex-direction: row;
    
    background-color: #4B483F;
    padding: 1.5em;
    color: #FFFFFF;
  }

  body>header>a{
    color: #E0E0E0;
    text-decoration: none;
    padding: .2em .5em;
    margin: 0;
  }


  #InicioSesion{
  
    text-align: center;
    font-size: 20px;
    display: block;
    padding: 5% 10% 10% 10%;  /* arriba, derecha, abajo, izqd */
  }

 .boxesForm{

    width: 80%;
    margin: 5px 0;
    padding: 12px 0;
    border: none;
    border-bottom: 2px solid grey;
 }

 .enlaceBoton{

    font-size: 16px;
    margin:15px 0;
    padding: 12px 28px;
    border-radius: 8px;

 }

 .enlaceBoton:hover {
    background-color: white; 
}



  fieldset{

    border-width: 2px;
    border-color: grey;
    background-color: white;
    box-shadow: 2px 2px 5px #999;
    display: inline-block;
    width:25%;
    height: 100%;
  }
  

/* FOOTER */     
  body>footer{
    background-color: #434343;
    color: #fff;
    padding: .5em;
    font-size: 16px;
    text-align: center;
  }
    body>footer>p{
      margin: 0 0 0 1.2em;
      align-self: center;
    }
      body>footer>p>a{
        color: #fff;
        text-decoration: none;
      }
      body>footer>p>a:hover{
        color: #fff;
        text-decoration: underline;
      }
    body>footer>a{
      color: #fff;
      text-decoration: none;
    }
    body>footer>a:hover{
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
