/* GLOBAL */
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700');

*{
  box-sizing: border-box;
}

/* BODY */
body {
  width: 100%;
  font-size: 14px;
  color: #434343;
  background-color: #E4BA16;
  /*min-width: 320px;
  max-width: 960px;*/
  margin: 0 auto ; 
  border-left: solid #fff; 
  border-right: solid #fff;
  border-bottom: solid #fff; 
  padding: 0; /*.5em .5em .5em;*/
}

/* HEADER */
  body>header{
    display: flex;
    flex-direction: row;
    padding: .8em 1.5em;
    max-height: 60px;

    text-align: center;
    
    color: #FFFFFF;
    background-color: #4B483F;
  }

    body>header>a{
      display: flex;
      flex-direction: row;
      align-items: center;
      
      align-self: left;
      overflow: hidden;
      width: 30%;
      
      font-family: 'Source Serif Pro', serif;
      /*text-shadow: 1px 1px 2px #aaa;*/
      text-decoration: none;
      color: #000;
    }
      body>header>a>div:first-of-type{
        max-width: 15%;
        height: 90%;
        margin: 0 .8em;
        border-right: 1px solid #E1E1E1;
      }
        body>header>a>div>h1{
          font-size: 20px;
          font-weight: 700;
          margin: 0 .2em; 
          /* Charmonman */
        }
        body>header>a>div>h2{
          font-size: 20px;
          font-weight: 400;
          margin: 0 .2em;
          /* Slabo 27px 
          Open Sans Condensed */
        }

    body>header>div:first-of-type{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      
      align-self: center;
      overflow: hidden;
      width: 40%;
      
      font-family: 'Source Serif Pro', serif;
      /*text-shadow: 1px 1px 2px #aaa;*/
      text-decoration: none;
      color: #000;
    }
      body>header>div:first-of-type>form{
        margin-right: .3em;
      }
      body>header>div:first-of-type>a{
        text-decoration: none;
        color: #E1E1E1;
      }
      body>header>div:first-of-type>a:hover{
        text-decoration: underline;
      }

    body>header>div:last-of-type{
      text-align: right;
      width: 30%;
      margin: auto;
      margin-right: .2em;
    }

    #logo{
      max-height: 100%;
      max-width: 100%;
    }


/* Bloque formulario */
.Inicio-Registro{
  
    text-align: center;
    font-size: 15px;
    display: block;
    padding: 5% 0 10% 0;  /* arriba, derecha, abajo, izqd */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .marcoInicioRegistro{

    border-width: 2px;
    border-color: grey;
    background-color: white;
    box-shadow: 2px 2px 5px #999;
    display: inline-block;
    width:30%;
   
  }

/* Contenido formularios */

   .boxesForm{

      width: 80%;
      margin: 5px 0;
      padding: 12px 0 12px 5px;
      border: none;
      border-bottom: 2px solid grey;
      background-color: white;
      color: black;
   }
   /* Boton Enviar Formulario */
   .enlaceBoton{

      font-size: 16px;
      margin:25px 0;
      padding: 12px 28px;
      border-radius: 8px;

   }

   .enlaceBoton:hover {
      background-color: white; 
  }

  /*Fecha Nacimiento */
  .mes{

      width:40%;
      margin: 5px 0;
      padding: 12px 0 12px 5px;
      border: none;
      border-bottom: 2px solid grey;

   }

   .diaMes{

      width:20%;
      margin: 5px 0;
      padding: 12px 0 12px 5px;
      border: none;
      border-bottom: 2px solid grey;

   }

  

/* FOOTER */     
  body>footer{
    background-color: #434343;
    color: #fff;
    padding: .5em;
    font-size: 16px;
    text-align: center;
  }
    body>footer>p{
      margin: 0 0 0 1.2em;
      align-self: center;
    }
      body>footer>p>a{
        color: #fff;
        text-decoration: none;
      }
      body>footer>p>a:hover{
        color: #fff;
        text-decoration: underline;
      }
    body>footer>a{
      color: #fff;
      text-decoration: none;
    }
    body>footer>a:hover{
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
