/*
Simply the best
Víctor Conejero Vicente
*/


/* FUENTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* PALETA */
:root {
    --1: #cfcfd1;
    --2: #7d7d80;
    --3: #38383d;
    --4: #2a2a2c;
    --5: #0078d7;
    --6: #ffffff;
    --7: #000000;
    --8: #fafafa;
}

/* GLOBAL */
*{
    box-sizing: border-box;
}

/* BODY */
body {
    width: 100%;
    margin: 0 auto ; 
    padding: 0;

    color: var(--7);
    background-color: var(--8);
    border-bottom: solid var(--3);
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* CONTENEDOR ~= SECTION */
#contenedor{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
}

/* TITULO + RESUMEN */
#intro, #enlacesintra, #apartados, #enlaces, #enlacesversiones{
    margin: 0 15px;
}

/* TITULO */
#titulo{
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    
    padding: .4em 0;
    height: 60px;
    width: 100%;
    max-width: 1040px;

    border-bottom: solid 1px var(--1);
    background-color: var(--8);
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center; /* Parte de arriba no se que hacer */
    justify-content: center;
}

h1, h2{
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 0 0;
    width: 40%;
    text-align: center;
}
h1{
	padding-right: 24px;
    margin-left: 12px;
    /*border-right: solid 1px var(--1);*/
}
h2{
	padding-left: 24px;
    font-size: 18px;
    font-weight: 500;
    margin-right: 12px;
}


/* RESUMEN PAGINA */
#resumen{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.ul1{
    padding: 0;
    margin: 8px auto 14px auto;
    display: inline-block;
    flex-direction: column;
    list-style-type: none;
    list-style-image: url('https://i.imgur.com/KlBKeKn.png');
    list-style-position: inside;
}
.ul1>li{
	font-weight: 500;
	margin-bottom: 4px;
}

#comentario{
    font-weight: 300;
}

/* ENLACES AL CONTENIDO */
#enlacesintra{

}

a{
	padding: 0 2px;
	color: black;
	border-bottom: solid 1px black;
	text-decoration: none;
}
a:hover{
	background-color: black;
	color: white;
}

#objetivos, #contenidos, #profesores, #bibliografia{
	padding-top: 60px;
}